// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary:#009688;
$dark: #1c1c1c;
$secondary:#3d3d3f;

$site-red:#b6224f;
$site-blue:#53c9eb;
$site-dark-yellow:#b6d546;
$site-teal:#348393;
$site-light-gray:#4d4d4d;

$youtube:#ff0000;
$facebook:#1877f2;
$linkedin:#0077b5;
$twitter:#1da1f2;

.bg-light-50{
    background: #fafafa !important;
}
.border-dashed{
    border-style:dashed !important;
    &:hover{
        border-style: solid !important;
    }
}

.w-10{
    width: 10% !important;
}.w-15{
    width: 15% !important;
}
